body{
    font-family: Arial;
}

header{
    margin-top: 5%;
}
header .sinContestar{
    padding: 1%;
    background-color: white;
    border: 1px solid black;
}

header .contestado{
    padding: 1%;
    background-color: green;
    border: 1px solid black;
    color: white;
}

header .dudoso{
    padding: 1%;
    background-color: yellow;
    border: 1px solid black;
}

main{
    display: flex;
    margin-top: 5%;
}

main #recurso{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}

main #pregunta{
    margin-left: 2%;
    width: 60%;
}

main #pregunta #Respuestas{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    margin-left: 10%;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

footer #siguienteBTN{
    margin-left: 40%;
}

footer #anteriorBTN{
    margin-right: 40%;
}